<div id="about" class="content_block">
	<p class="about_header">Imagine Education is about Story.</p>
	<div id="scroll_panel_wrap">
		<ul id="scroll_panel">
			<li class="panel">
				<%= image_tag("/images/panels/about_panel1.png") %>
			</li>
			<li class="panel">
				<%= image_tag("/images/panels/about_panel2.png") %>
			</li>
			<li class="panel">
				<%= image_tag("/images/panels/about_panel3.png") %>
			</li>
		</ul>
	</div>
</div>

