<div id="index" class="content_block video_container" data-videourl="https://s3.amazonaws.com/imagineassets/generalvideos/demo_reel.mp4" data-videothumburl="">
	<ul id="fade_panel_wrap">
		<li class="panel fade_panel video_trigger">
			<h1>Educational Films</h1>
			<%= image_tag("/images/panels/index_panel.png") %>
		</li>
		<li class="panel fade_panel video_trigger">
			<h1>Educational Games</h1>
			<%= image_tag("/images/panels/index_panel2.png") %>
		</li>
		<li class="panel fade_panel video_trigger">
			<h1>Educational Consulting</h1>
			<%= image_tag("/images/panels/index_panel3.png") %>
		</li>
	</ul>
</div>


<% content_for :javascripts do %> 
	<script>
  	$(function() {
  		PanelFader.initPanelFader();
  		Video.initVideos();
  	});
	</script>
<% end %> 