<h3 class="title">Original Ko Classroom Game</h3>	
<li>
	<ul id="about">
		<li>
			Scott Laidlaw
		</li>
		<li>
			Todd Wynward
		</li>
		<li>
			Stephanie Owens
		</li>
		<li>
			Susan Millison
		</li>
		<li>
			Tori Sjoberg
		</li>
		<li>
			Peruvian Andes Ancient Cultures
		</li>
	</ul>
</li>
<h3 class="title">Special Thanks</h3>	
<li>
	<ul id="about">
		<li>
			Joanne Carlson
		</li>
		<li>
			Rebecca Colley
		</li>
		<li>
			Steve Denkers
		</li>
		<li>
			Peter Dickinson &ndash; <span>Author of The Kin</span>
		</li>
		<li>
			Judie Hanson
		</li>
		<li>
			Lorie King
		</li>
		<li>
			Darin Johnson
		</li>
		<li>
			Mica Johnson
		</li>
		<li>
			Jim &#38; Barbara Laidlaw
		</li>
		<li>
			Tina Laidlaw
		</li>
		<li>
			Madlon Laster
		</li>
		<li>
			John &#38; Cindy McCloud
		</li>
		<li>
			Sean McLean
		</li>
		<li>
			Wendy Mericle
		</li>
		<li>
			Dave Neff
		</li>
		<li>
			Brian Smith
		</li>
		<li>
			Bronwyn Taylor
		</li>
		<li>
			Vaughn Taylor
		</li>
		<li>
			Jill Wheeler
		</li>
		<li>
			John Wheeler
		</li>
	</ul>
</li>
<h3 class="title">Produced by</h3>	
<li>
	<ul id="about">
		<li>
			Jennifer Harris
		</li>
	</ul>
</li>