<div class="social_links">
	<ul>
		<li class="facebook">
			<%= link_to "Facebook", "http://www.facebook.com/KosJourney", :target => "blank" %>
		</li>
		<li class="twitter">
			<%= link_to "Twitter", "http://www.twitter.com/kosjourney", :target => "blank" %>
		</li>
		<li class="google">
			<%= link_to "Google +", "https://plus.google.com/u/0/114845167364587933921/posts", :target => "blank" %>
		</li>
	</ul>
</div>