<div class="footer_nav">
	<ul>
		<header>Imagine Education</header>
	  <li>
	    <%= link_to "Home", "#", :class => "nav_link" %>
	  </li>
		<li>
			<%= link_to "Customers", "#", :class => "nav_link" %>
		</li>
		<li>
			<%= link_to "Results", "#", :class => "nav_link" %>
		</li>
		<li>
			<%= link_to "Pricing", "#", :class => "nav_link" %>
		</li>
	</ul>
</div>