<div class="full_row">
	<%= render :partial => 'layouts/application/footer_nav' %>
	<%= render :partial => 'layouts/application/footer_social' %>
	<div class="imagine_info">
		<p>
			Imagine Education<br />
			P.O. Box 2276<br />
			Taos, NM 87571<br />
			Phone: 801.657.1035
		</p>
		<div class="footer_logo">
			<%= link_to "Imagine Education", "http://www.imagineeducation.org" %>
		</div>
	</div>


</div>