<div class="full_row">
	<div class="link_box">
		<h3>
			<span><%= link_to "See Ko's Journey plans & pricing", pricing_path %>, <%= link_to "meet some customers", customers_path %> or <%= link_to "try the demo.", demo_path %></span>
		</h3>
	</div>
</div>