<ul id="main_nav" class="nav">
  <li>
    <%= link_to "Home", "#", :class => "nav_link" %>
  </li>
	<li>
		<%= link_to "Customers", "#", :class => "nav_link" %>
	</li>
	<li>
		<%= link_to "Product", "#", :class => "nav_link" %>
	</li>
	<li>
		<%= link_to "Results", "#", :class => "nav_link" %>
	</li>
</ul>