<div id="initial_student_notice_window" class="overlay simple_overlay">
  <div class="close"></div>
  <div class="content">
    <h2>You've added your first student!!</h2>
    <p>
      To play the game, log out and log back in with a student username and password."
    </p>
  </div>
</div>