<ul id="nav_left" class="footer_nav">
	<li>
		<%= link_to "Demo Reel", demo_reel_path, :class => "tooltip", :tooltip => "View Demo Reel" %>
	</li>
	<li>
		<%= link_to "Projects", projects_path, :class => "tooltip", :tooltip => "View Our Projects" %>
	</li>
		<li>
		<%= link_to "About", about_path, :class => "tooltip", :tooltip => "About Us" %>
	</li>
	<li>
		<%= link_to "Contact Us", contact_path, :class => "tooltip", :tooltip => "Contact Imagine Education" %>
	</li>
</ul>