<ul id="nav_right" class="footer_nav">
	<li>
		<%= link_to "About", about_path, :class => "tooltip", :tooltip => "About Us" %>
	</li>
	<li>
		<%= link_to "Contact Us", contact_path, :class => "tooltip", :tooltip => "Contact Imagine Education" %>
	</li>
</ul>