<div id="help_window" class="overlay simple_overlay">
  <div class="close"></div>
  <div class="content">
    <h2>Welcome to Ko's Journey!</h2>
    <p>
      This is your administration page where you can access student progress. Begin by adding your student(s) by clicking on the <nobr><strong>Add a Student</nobr></strong> button, entering a full name and clicking <nobr><strong>Save Changes</nobr></strong>. Once you are done be sure to provide each student their login and password.
    </p>
  </div>
</div>