<div id="login_notice" class="overlay simple_overlay">
  <div class="close"></div>
  <div class="content">
    <h3>Notice to all Teacher and Account Holders</h3>
    Your login is now your <span class="bold">EMAIL ADDRESS</span>. Passwords are the same. If you need assistance through this transition. Please contact your Account Admin or <br/>
    <a href='mailto:support@kosjourney.com'> Kos Journey Support</a>
  </div>
</div>